<h2 class="muted">We, here at field eric, believe in "Being Good"</h2>
<h2 class="text-warning">In this spirit you do not need a password unless you want to.</h2>
<h2 class="text-error">This is not an internet bank, where there is profit in hacking your account. </h2>
<h2 class="text-info">This is a community of well-doers who just want to play football.</h2>
<h2 class="text-success">The only corner of the internet, which behaves like the guys at your local.</h2>
