<% if flash[:error] %>
    $("#errors").html("<div class=\"alert alert-error\"><%= flash[:error] %></div>");
<% else %>
    $("#errors").html("");
<% end %>

<% if !session[:logged_in_player].nil? %>
    window.location = "/";
<% end %>