<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <% if flash[:error] %>
    <p class="alert alert-error"><%= flash[:error] %></p>
  <% end %>
  <div class="actions">
  	<button type="submit" class="btn btn-primary">
		Reset Password
	</button>
  </div>
<% end %>