<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1>Test!</h1>

<%= link_to "List of matches", matches_path %><br>
<%= link_to "List of players", players_path %><br>
<br>
<%= link_to "Register", new_player_path %>