<div class="span4">
<div class="well">
<table class="table-no-top-border">
	<thead>
		<h3>
		<% if ((!@player.password.nil? && !@player.password.empty?)) %>
			Update password
		<% else %>
			Set password
		<% end %>
		</h3>
	</thead>
	<br/>
	<%= form_for(@player) do |f| %>	
	<tbody>
		<tr>
			<td>
			<b>Password</b>
			</td>
			<td><%= f.password_field :password %></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<button type="submit" class="btn btn-primary">
					<% if ((!@player.password.nil? && !@player.password.empty?)) %>
						Update password
					<% else %>
						Set password
					<% end %>
				</button>
				<a class="btn btn-cancel" href="/players/<%= @player.id %>">Cancel</a>
			</td>
		</tr>
	</tfoot>
	<% end %>
</table>
</div>
</div>