<h1>Listing matches</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Occurs</th>
    <th>Location</th>
    <th>Kind</th>
    <th>Required</th>
    <th>Comment</th>
  </tr>

<%= @matches.length %>

</table>

<br />

<%= link_to 'New match', new_match_path %>