<div class="span5">
<div class="well">
<table class="table-no-top-border">
	<thead>
		<h3>Contact us</h3>
	</thead>
	<br/>
	<tbody>
		<tr>
			<td>
			<b>Your name</b>
			</td>
			<td>
				<input id="name" name="name" type="text" size="50" autocomplete="off" />
			</td>
		</tr>
		<tr>
			<td>
			<b>Your email</b>
			</td>
			<td>
				<input id="email" name="email" type="text" size="50" autocomplete="off" />
			</td>
		</tr>
		<tr>
			<td>
			<b>Message</b>
			</td>
			<td>
				<textarea id="message" name="message" rows="7"></textarea> 
				
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<button type="submit" class="btn btn-primary">
					<i class="icon-envelope icon-white"></i>
						Send
				</button>
			</td>
		</tr>
	</tfoot>
</table>
</div>
</div>
