<div class="span5">
<div class="well">
<table class="table-no-top-border">
	<thead>
		<h3>Contact us</h3>
	</thead>
	<br/>
	<tbody>
		<tr>
			<td>
				Thank you! Your message has been sent.
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
